@model Models.Course

@{
    ViewData["Title"] = "Join";
}

    <h3>Are you sure you want to Leave this Course?</h3>
<div>
    <hr />
    <dl class="row">
        @* <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd> *@
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.instructor)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.instructor.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.category)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.category.Name)
        </dd>
        <dt class="col-sm-2">
            Students
        </dt>
        <dd class="col-sm-10">
            @Model.learner_courses.Count
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ImageUrl)
        </dt>
        <dd class="col-sm-10">
            <img src="@Model.ImageUrl" style="border-radius:5px;border:2px solid #bbb9b9;" />
        </dd>
    </dl>
    
    
        <form asp-action="Leave">
            <input type="hidden" name="courseId" value="@Model.Id" />
        <button type="submit" class="btn btn-danger mx-2">Leave</button>
            |
            <a asp-action="MyIndex">Back to List</a>
        </form>
   
</div>

